Screen {
    align: center middle;
}

Vertical {
    content-align: center middle;
    width: auto;
    height: auto;
}

.main-menu-button {
    width: 20;
    margin: 1 15;
}

#welcome {
    text-align: center;
    width: 50;
}

.login-menu {
    width: 50;
    margin: 1 0;
    content-align: center middle;
    text-align: center;
}